# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Env
.env
venv/
venv*/
ENV/
env/
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
